.titre{
	text-align:center;
	background: #6e8e6e;
	padding:10px;
	color:white;
}
.connectionArea{
	background-color: #d9f3d8;
	padding:10px;
	width:75%;

}
.inp{
	width:30%;
	text-align:center;
	font-size:20px;
}
.lab{
	font-size:28px;
}
.bout{
	width:30%;
	text-align:center;
	font-size:20px;
	margin:10px;
}