/*Page principale*/
.image{
	width:300px;
	height:198px;
	float:right;
	border:0px solid #3a8e34;
	border-radius:10px;
}
.texte{
	text-align:center;
}

.cadre{
	background-color: #dcdfe5;
	padding:10px;
	margin:10px;
}

.nom{
	font-size:25px;
	padding-left:10px;
}
.info{
	font-size:23px;
	padding-left:10px;
}
.url{
	font-size:23px;
	padding-left:10px;
	color : #1c7430;
}
.logo{
	width:40px;
	height:40px;
}
.btnBarre{
	float:right;
}
.boutonMembre{
	margin-right:10px;
}	
/*Page perso*/	
.nomPerso{
	font-size:30px;
	text-align:center;
}
.infoPerso{
	font-size:25px;
}
.localisationPerso{
	font-size:25px;
	text-align:center;
}
.titrePerso{
	font-size:32px;
}
.bouton{
	width:200px;
}
.map{
	border:2px solid #3e6a20;
}
.boutique{
	font-size:25px;
	text-align:center;
}
.boutonPanier{
	width:300px;
}
.totalPanier{
	font-size:30px;
}
.tableau{
	border:2px solid #0d611b;
}
.titreAvis{
	text-align:center;
}
.note{
	font-size:25px;
}
.cadreAvis{
	margin:10px;
	border:0px solid #235c25;
}