.titre{
    text-align:center;
    background: #6e8e6e;
    padding:10px;
    color:white;
    margin-bottom: 20px;
}

.image{
    width:350px;
    height:225px;
    float:right;
    border:0px solid #3a8e34;
    border-radius:10px;
    display: block;
    margin: auto;
}

.btn {
    display: block;
    margin: auto;
}

.gauche {
    text-align: center;
}

.droite {
    text-align: center;
}