
.logo{
	width:40px;
	height:40px;
}

.titre{
	text-align:center;
	background: #6e8e6e;
	<!--padding:10px;-->
	color:white;
}

.paiement {
	margin-left: auto;
	margin-right: auto;
	width : 1200px;
}
.commande{
	background-color: #f1f1f1;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	width:1200px;
}

.info{
	font-size:23px;
}
.texte{
	text-align:center;
	margin-top : 15px;
}
.panier{
	font-size:25px;
	text-align:center;
}

.inp{
	width:30%;
	text-align:center;
	font-size:20px;
}
